name: Build and Push Docker Image

on:
  push:
    branches:
      - master
    paths:
      - 'version.txt'
      - 'enforce.txt'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_JIERKA_USERNAME }}
          password: ${{ secrets.DOCKERHUB_JIERKA_PASSWORD }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            jierka/junk:latest
            jierka/junk:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
